@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: "Poppins", sans-serif;
}

.continer {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ddd;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #fff;
    padding: 20px;
    max-width: 450px;
    border-radius: 10px;
    margin: 10px;
    backdrop-filter: blur(2px);
}

.mainContent {
    color: rgb(4, 25, 44);
    line-height: 30px;
}

.author {
    color: #03021b;
    font-style: underline;
    max-width: 60%;
}

#accAuthor {
    font-size: 20px;
}

#author {
    color: #03021b;
}

.authtorHead {
    color: #011d32;
    font-weight: bold;
}

.contentHolder {
    padding: 10px;
    border-radius: 5px;
    background: #e3f2ff;
    min-width: 85%;
}

.author-container {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.copy,
.google {
    color: #d7ffff;
    background-color: #090127;
    padding: 8px 12px;
    border-radius: 4px;
    margin: 10px;
    text-transform: capitalize;
    cursor: pointer;
    font-weight: bold;
}

.copy {
    margin-top: 20px;
}

.bottom i {
    color: #ecf7ff;
    margin-left: 10px;
}

.button,
.google {
    background: #0e0127;
    padding: 8px 12px;
    color: #eff8ff;
    font-size: 18px;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
    text-transform: capitalize;
}

.google i {
    color: #e0ebff;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 1.4rem;
}

footer a {
    text-decoration: none;
    font-family: "Pacifico", cursive;
    color: inherit;
}